<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edge Detection Results</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Edge Detection Comparison</h1>
        <div class="image-container">
            <div>
                <p>Thresholds: {{threshold1_1}} & {{threshold2_1}}</p>
                <img src="data:image/jpeg;base64,{{ edges1 }}" alt="Threshold pair 1 ">
            </div>
            <div>
                <p>Thresholds: {{threshold1_2}} & {{threshold2_2}}</p>
                <img src="data:image/jpeg;base64,{{ edges2 }}" alt="Threshold pair 2">
            </div>
        </div>
        <br>
        <div class="button-container">
            <button class="button" onclick="window.location.href='/'">Back</button>
        </div>
    </div>
</body>
</html>