<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edge Detection Slider</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Edge Detection Slider</h1>
        <form action="/process_slider" method="post" enctype="multipart/form-data">
            <label for="file">Upload Image:</label>
            <input type="file" name="file" id="file" required>
            <br><br>
            <input type="submit" class="button" value="Submit">
        </form>
    </div>
</body>
</html>